@tailwind base;
@tailwind components;
@tailwind utilities;

#apple-maps {
	height: 100vh;
}

#header {
	position: absolute; 
	top: 10px; 
	left:  10px; 
	z-index: 3; 
	background-color: rgba(255,255,255,.75);
	box-shadow: 0 0 0 .5px rgba(0,0,0,.05);
	padding: 10px; 
	border-radius: 9px;
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
}

#header img {
	width: 50px;
	margin: 0 auto;
}

#header span {
	color: rgb(112, 113, 108);
}